/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #000;
    font-family: "Gabarito", Arial, sans-serif;
}

.kiosk-container {
    width: 100vw;
    height: 100vh;
    max-width: calc(100vh * 9/16); /* Lock ratio 9:16 */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

/* BACKGROUND IMAGE */
.bg {
    position: absolute;
    inset: 0;
    background-image: url("../Image/Background/BarberBackground1.jpg");
    background-size: cover;       /* Fullscreen */
    background-position: center;  /* Kamu bisa atur: top, center, bottom, 30%, 70%, dll */
    background-repeat: no-repeat;
    z-index: 1;
}


/* GRADIENT */
.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 25%,               
        rgba(4,18,45,0.85) 70%,         
        rgba(4,18,45,1) 85%
    );
    z-index: 2;
}


/* CONTENT */
.content {
    position: absolute;
    bottom: 10%;
    width: 100%;
    padding: 0 30px;
    text-align: center;
    z-index: 3;
}

.logo {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;           /* bisa kamu atur bebas */
    z-index: 4;             /* di atas gradient */
}

/* TEXT */
h1 {
    font-size: 6.4rem;     
    font-weight: 900;
    color: white;
    line-height: 0.8;
    text-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

p {
    margin-top: 1px;
    font-size: 2.45rem;
    color: #dfe7f1;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.5;   /* spacing antar baris */
}


/* BUTTON */
button {
    margin-top: 60px;
    width: 45%;
    padding: 25px 0;        
    font-size: 2.0rem;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
    font-family: "Gabarito", sans-serif;  /* pakai font Gabarito */
}


button:hover {
    background: rgba(255,255,255,0.15);
}



/* ===========================
   PAGE 2 – FACE SCANNING
=========================== */

.bg-blue {
    position: absolute;
    inset: 0;
    background: #04122D;  /* biru gelap polos */
    z-index: 1;
}

.face-ready-text {
    margin-top: 48px;
    font-size: 1.5rem;     /* diperkecil */
    font-weight: 600;
    color: #dfe7f1;
    letter-spacing: 1px;
    margin-bottom: 10px;    /* kasih jarak ke bawah */
}

.face-content {
    position: absolute;
    top: 12%;
    width: 100%;
    text-align: center;
    z-index: 4;
    padding: 0 35px;
}

.face-title {
    font-size: 3.2rem;
    font-weight: 800;
    color: white;
    margin-bottom: 35px;
    font-family: "Gabarito", sans-serif;  /* pakai font Gabarito */
}

.camera-frame {
    width: 88%;
    height: 800px;
    border-radius: 25px;
    border: 5px solid white;
    margin: 0 auto;
    padding: 10px;
}

.camera-view {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    background: #000; /* kalau kamera belum muncul */
}

.btn-photo-icon {
    margin-top: 35px;
    width: 120px;
    height: 120px;

    background: transparent;
    border: none;
    outline: none;
    padding: 0;

    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent;
}

.btn-photo-icon:focus,
.btn-photo-icon:active,
.btn-photo-icon:hover {
    outline: none !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.btn-photo-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none; 
}


.face-desc {
    margin-top: 45px;
    font-size: 1.3rem;
    color: #dfe7f1;
    line-height: 1.45;
    font-family: "Gabarito", sans-serif;  /* pakai font Gabarito */
}


/* ===========================
   PAGE 3 – RESULT PAGE
=========================== */

.result-content {
    position: absolute;
    top: 12%;
    width: 100%;
    text-align: center;
    padding: 0 35px;
    z-index: 4;
}

.result-text {
    margin-top: 48px;
    font-size: 1.8rem;
    color: #dfe7f1;
    font-weight: 600;
}

.result-shape {
    margin-top: 8px;
    font-size: 3.4rem;
    font-weight: 800;
    color: white;
}

/* BUTTON GROUP → VERTICAL ALIGNMENT */
.button-group {
    margin-top: 0px;
    display: flex;
    flex-direction: column;   /* vertical */
    gap: 22px;                /* spacing antar tombol */
    align-items: center;
}

/* PRIMARY BUTTON – Lihat Rekomendasi */
.btn-primary {
    width: 45%;
    padding: 20px 0;          /* height lebih besar */
    background-color: #415A77; /* biru muda seperti di gambar */
    color: #ffffff;
    border-radius: 18px;
    border: none;
    border: 3px solid white;
    font-size: 2.3rem;
    font-weight: 400;
    cursor: pointer;
}

/* SECONDARY BUTTON – Foto Ulang */
.btn-secondary {
    margin-top: 0px;
    width: 45%;
    padding: 15px 0;         /* lebih kecil */
    background: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 16px;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
}


/* ===========================
   PAGE 4 – HAIR RECOMMENDATION
=========================== */

.haircut-container {
    top: 3%;
    width: 70%;
    z-index: 4;
    margin: auto;
    padding: 20px;
    text-align: center;
    position: relative;
}

.haircut-recommendation-container {
    border: 2px solid white;
    margin: auto;
    padding: 20px 0px;
    text-align: center;
    position: relative;
    border-radius: 20px;
}

.haircut-container .title {
    color: white;
    font-size: 3.2rem;
    font-weight: 800;
    margin-bottom: 50px;
}

.haircut-container .percentage-box {
    border: 2px solid white;
    width: 95%;
    margin: auto;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: left;
}

.haircut-container .percentage-box span {
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
}

.haircut-main-frame {
    width: 100%;
}

.haircut-main-frame {
    aspect-ratio: 1 / 1;       
    overflow: hidden;        
}

.haircut-main-img {
    width: 94%;
    height: 100%;
    object-fit: cover;         
    object-position: center;  
    border-radius: 10px;
}

.haircut-caption {
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 15px;
}

.other-choice-title {
    color: white;
    margin-top: 32px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 700;
}

.other-choice-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.other-choice-card {
    background-color: #10203300;
    border: 2px solid #ffffff;
    border-radius: 10px;
    width: 35%;
    padding: 10px;
    text-align: center;
    position: relative;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
}

.other-choice-card img {
    width: 100%;
    aspect-ratio: 3 / 4;    
    object-fit: cover;       
    object-position: center;
    border-radius: 8px;
}

.mini-percentage-box {
    border: 2px solid white;
    width: 100%;
    padding: 4px 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    text-align: left;
    box-sizing: border-box;
}

.mini-percentage-box span {
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
}

.page4-btn-main {
    width: 65%;
    padding: 15px 0;          /* height lebih besar */
    background-color: #415A77; /* biru muda seperti di gambar */
    color: #ffffff;
    border-radius: 18px;
    border: none;
    border: 3px solid white;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
}

.page4-btn-row {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.page4-btn-secondary {
    margin-top: 20px;
    width: 31.5%;
    padding: 10px 5px;         /* lebih kecil */
    background: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 16px;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
}


/* ===========================
   PAGE 5 – HAIRCUT SELECT
=========================== */

.page5-container {
    position: relative;
    z-index: 4;
    width: 75%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

.page5-title {
    color: white;
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 40px;
}

.page5-panel {
    border: 2px solid white;
    border-radius: 18px;
    padding: 15px;

    max-height: 1470px;        /* batas tinggi panel */
    display: flex;
    flex-direction: column;
}

.page5-panel-title {
    margin-top: 20px;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 12px;
}

/* Search Bar */
.page5-search-box {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 2px solid white;
    background-color: #415A77;
    border-radius: 8px;
    padding: 17px 15px;
    margin-bottom: 12px;
}

.page5-search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: "Gabarito", sans-serif;
    font-size: 0.9rem;
}

.page5-burger,
.page5-search-icon {
    color: white;
    font-size: 0.9rem;
}

.page5-search-box input::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.5;   /* supaya tidak transparan */
}

/* Scroll Area */
.page5-list {
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;
    padding-right: 6px;
}


/* Custom Scrollbar */
.page5-list::-webkit-scrollbar {
    width: 6px;
}

.page5-list::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

.page5-list::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.15);
}


/* Cards Grid */
.page5-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.page5-card {
    background-color: #10203300;
    border: 2px solid #ffffff;
    border-radius: 12px;
    width: 100%;
    padding: 10px;
    text-align: center;
    position: relative;

    color: white;
    font-size: 0.75rem;
    font-weight: 500;
}

.page5-card img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.page5-name {
    margin-top: 6px;
    font-size: 0.75rem;
    font-weight: 500;
}

.page5-card .page5-percent {
    position: static;
    border: 2px solid white;
    width: 100%;
    padding: 3px 6px;
    border-radius: 8px;
    margin-bottom: 6px;
    text-align: left;
    background: transparent;
}

/* Back Button */
.page5-back-btn {
    margin-top: 25px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    padding: 10px 0;
    width: 40%;
    font-size: 1rem;
    cursor: pointer;
}
